body {
	display: grid;
	justify-content: center;
}

nav {
	display: grid;
	grid-auto-flow: column;
	justify-content: flex-end;
}

h2 {
	font-size: 40px;
	color: blue;
	margin: 0;
}

nav a {
	text-decoration: none;
	padding: 10px;
}

main {
	max-width: 800px;
	margin: 30px;
}

/* Als je "display:grid" opgeeft 
veranderen alle directe items in 
die container automatisch in kolommen!! */

section {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 50px;
	margin-top: 50px;
}

/* Je kan ook beinvloeden 
wat de verhoudingen of groottes 
van de kolommen onderling zijn:  */

#biografie {
	display: grid;
	grid-template-columns: 1fr 3fr;
	/* of in percentages:
grid-template-columns: 25% 75%; */
}

/* Dit is om een scroll animatie te maken voor als je naar de link in de pagina toegaat, zoals bij "Biografie"  */

html {
	scroll-behavior: smooth;
}
