/* Ik heb een Google Font gebruikt genaamd "Lobster" voor alle koppen in deze pagina! Hieronder zie je de regel code waarmee ik het Google Font importeer naar mijn website! */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
	display: grid;
	justify-content: center;
	font-family: sans-serif;
}

/* Dit is om ervoor te zorgen dat alle 
afbeeldingen meeschalen als je het venster 
grpoter of kleiner maakt */
img {
	width: 100%;
	height: auto;
}

/* En dan kun je een uitzondering maken 
voor het logo in de navigatie balk  */
.logo {
	margin-right: auto;
}

main {
	max-width: 800px;
	margin: 30px;
}

html {
	scroll-behavior: smooth;
}

section {
	margin-bottom: 100px;
}

.logo img {
	max-width: 80px;
	border-radius: 50%;
	height: auto;
}

nav {
	display: flex;
	align-items: center;
}

nav a {
	text-decoration: none;
	color: red;
	font-weight: bold;
	padding: 10px;
}
nav a:hover {
	color: black;
	background: rgb(149, 238, 149);
	transition: all 0.5s ease-out;
}

h2 {
	margin: 0;
	line-height: 1.2;
	font-size: 40px;
	font-family: "Lobster";
	color: rgb(21, 156, 64);
}

.twee-rijen {
	display: grid;
	grid-gap: 100px 40px;
	grid-template-columns: 1fr 1fr;
}

.drie-rijen {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
}

.vier-rijen {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.vier-rijen img {
	border-radius: 50%;
}

.indesign-stijl-overlooptekst {
	columns: 2;
	grid-gap: 80px;
}

.inleiding {
	font-family: "Lobster";
	color: rgb(21, 156, 64);
	font-size: 30px;
}
