body {
	display: grid;
	justify-content: center;
}

main {
	max-width: 800px;
	margin: 30px;
}

/* Als je "display:grid" opgeeft 
veranderen alle directe items in 
die container automatisch in kolommen!! */

section {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 50px;
	margin-top: 50px;
}

/* Je kan ook beinvloeden 
wat de verhoudingen of groottes 
van de kolommen onderling zijn:  */

#biografie {
	display: grid;
	grid-template-columns: 1fr 3fr;
	/* of in percentages:
grid-template-columns: 25% 75%; */
}
